
main{
  padding: 1rem;
  height: 100rem;
}
label{
  margin-bottom: 0.5rem;
}

input, select   {
  margin-bottom: 1rem;
  width: 15rem
}

.posts{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

article{
  background-color: azure;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0.5rem 0.5rem rgb(238, 238, 238);
  padding:1rem
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

