
main{
  padding: 1rem;
}

label{
  margin-bottom: 0.5rem;
}

input, select   {
  margin-bottom: 1rem;
  width: 15rem
}

.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}


article{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: azure;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0.5rem 0.5rem rgb(238, 238, 238);
  padding:1.5rem;
  width: 60%
}

.article__header, .comment__header{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin: 0
}

h3{
  margin: 0;
}

.article__header__menu__deroulant{
  display: none;
  list-style: none;

}

.article__header__menu__deroulant__icon{
  height: 1.5rem
}

.article__header__menu:hover {
  .article__header__menu__deroulant{
    display: contents;
  }
}

.logos{
  height: 1rem;
}

.post__image{
  max-height: 30rem;
  width: min-content;
  text-align: center;
}

.likes{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article__comments_window{
  background-color:bisque;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem
}


.article__comments__menu__deroulants {
  display: none;
}

.article__comments__menu:hover{
  color: blue;
  text-decoration: underline;
}

/* Affiche le menu quand il est en hover ou visible */
.article__comments__menu__deroulants.visible {
  display: block;
}

ul {
  list-style: none;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

