.createPost{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.formCreatePost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50rem;
    .inputContent{
        width: 70%
    }
    .submit{
        width:10%
    }
    @media screen and (max-width:700px) {
        width: 90%;
        .submit{
            width:35%
        }

    }
}

.logoImage{
    height: 2.5rem;
    width: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem
}